* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.containerTable {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    width: 80%;
}

table {
    text-align: left;
    padding: 12px;
    width: 100%;
}

table,
th,
td {
    background-color: #eeeae2a8;
    border: 1px solid rgb(202, 197, 197);
    border-collapse: collapse;
    font-size: 20px;
    color: #000000;
    padding: 12px;
}


tr {
    width: 20;
}

th.proyecto {
    width: 30%;
}

th.descripcion {
    background-color: #ffffff;
    width: 80%;
}