{% extends 'plantilla.html' %}
{% load static %}
{% block id_project %}proyecto.id{% endblock %}

{% block title %} gestion de proyecto  - {{proyecto.name}} {% endblock %}
{% block name %}
    {{proyecto.name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.tailwindcss.css">
    <link rel="stylesheet" href="{% static './css/docu.css' %} ">
    <link rel="stylesheet" href="{% static './css/des.css' %} ">
{% endblock %}

{% block conten %}

<div class="content-lecciones">

                <div class="containerUp-headertable">

                    <div class="titulo">
                        <h1  class="create-project-title">Calendario</h1>
                    </div>

                    <a href="{% url 'main:gantt' codigo=proyecto.codigo %}"  class="containerUp-headertable__a" id="btnnewDoc" >
                       <i class='bx bx-aperture'></i>
                   </a>

                 </div>

                <div class="contenedor-tabla">
                 <div class="contenedor-boton">
                    <h2>Fase de Inicio</h2>

                    <a href="{% url 'main:nuevoitems' codigo=proyecto.codigo %}"  class="containerUp-headertable__a" id="btnnewDoc" >
                        <i class='bx bx-plus'></i>
                    </a>
                 </div>

                 <table id="des-table-inicio">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Subfase</th>
                            <th>Porcentaje</th>
                            <th>Dependencias</th>
                            <th>Observaciones</th>
                            <th>Tiempo Estimado (horas)</th>
                            <th>Complejidad</th>
                            <th>Documento</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for des_instance in inicio %}
                        <tr>
                            <td>{{des_instance.titulo}}</td>
                            <td>{{des_instance.estado}}</td>
                            <td>{{des_instance.descripcion }}</td>
                            <td>{{des_instance.fecha_inicio}}</td>
                            <td>{{des_instance.fecha_fin}}</td>
                            <td>{{des_instance.subfase}}</td>
                            <td>{{des_instance.procentaje|floatformat:"0"}}</td>
                            <td>{{des_instance.dependencias}}</td>
                            <td>{{des_instance.observaciones}}</td>
                            <td>{{des_instance.tiempo_estimado}}</td>
                            <td>{{des_instance.peso}}</td>
                            <td></td>
                            <td>
                                <a href="{% url 'main:edititems' codigo=proyecto.codigo id_items=des_instance.id %}" variant="secondary" type="button" title="Editar" class="btn-small create-project-action-cancel" >
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvFk7EOAUEQhr97AgqRaKm9gMYL0VHRiFCg9EYSb6CSaFUSegk3yRXr7O7s3d7ltt3d75v9Zzah5pXUzCdWsAbewMpVaIxgD8wy8Bw42CRlBR3gAnQN6BLY5CVlBG3gCQyAE9DLoAtgGyuYpJlLpSPgBvSBcxZPdESSt+Qu6w6MgSvQAl6xTZYm7nIQkQyBh2/UQ3pgVm6yjil8qv0jTRAFF7lP4IJLMyWyoOUSVAJ3vaAyuEvwsby9UCzmfVtEeUFpeMgLouDaFAVNiXZI+wfafXW/EYFtitRKjQM/RYdMURH4X18biahoxd7zXwouJhn8uXp/AAAAAElFTkSuQmCC"/>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="contenedor-tabla">
                 <div class="contenedor-boton">
                    <h2>Fase de Planeación</h2>
                    <a href="{% url 'main:nuevoitems' codigo=proyecto.codigo %}"  class="containerUp-headertable__a" id="btnnewDoc" >
                        <i class='bx bx-plus'></i>
                    </a>
                 </div>

                 <table id="des-table-planeacion">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Subfase</th>
                            <th>Porcentaje</th>
                            <th>Dependencias</th>
                            <th>Observaciones</th>
                            <th>Tiempo Estimado (horas)</th>
                            <th>Complejidad</th>
                            <th>Documento</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for des_instance in inicio %}
                        <tr>
                            <td>{{des_instance.titulo}}</td>
                            <td>{{des_instance.estado}}</td>
                            <td>{{des_instance.descripcion }}</td>
                            <td>{{des_instance.fecha_inicio}}</td>
                            <td>{{des_instance.fecha_fin}}</td>
                            <td>{{des_instance.subfase}}</td>
                            <td>{{des_instance.procentaje|floatformat:"0"}}</td>
                            <td>{{des_instance.dependencias}}</td>
                            <td>{{des_instance.observaciones}}</td>
                            <td>{{des_instance.tiempo_estimado}}</td>
                            <td>{{des_instance.peso}}</td>
                            <td></td>
                            <td>
                                <a href="{% url 'main:edititems' codigo=proyecto.codigo id_items=des_instance.id %}" variant="secondary" type="button" title="Editar" class="btn-small create-project-action-cancel" >
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvFk7EOAUEQhr97AgqRaKm9gMYL0VHRiFCg9EYSb6CSaFUSegk3yRXr7O7s3d7ltt3d75v9Zzah5pXUzCdWsAbewMpVaIxgD8wy8Bw42CRlBR3gAnQN6BLY5CVlBG3gCQyAE9DLoAtgGyuYpJlLpSPgBvSBcxZPdESSt+Qu6w6MgSvQAl6xTZYm7nIQkQyBh2/UQ3pgVm6yjil8qv0jTRAFF7lP4IJLMyWyoOUSVAJ3vaAyuEvwsby9UCzmfVtEeUFpeMgLouDaFAVNiXZI+wfafXW/EYFtitRKjQM/RYdMURH4X18biahoxd7zXwouJhn8uXp/AAAAAElFTkSuQmCC"/>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="contenedor-tabla">

                 <div class="contenedor-boton">
                    <h2>Fase de Ejecución</h2>
                    <a href="{% url 'main:nuevoitems' codigo=proyecto.codigo %}"  class="containerUp-headertable__a" id="btnnewDoc" >
                        <i class='bx bx-plus'></i>
                    </a>
                 </div>

                 <table id="des-table-ejecucion">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Subfase</th>
                            <th>Porcentaje</th>
                            <th>Dependencias</th>
                            <th>Observaciones</th>
                            <th>Tiempo Estimado (horas)</th>
                            <th>Complejidad</th>
                            <th>Documento</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for des_instance in inicio %}
                        <tr>
                            <td>{{des_instance.titulo}}</td>
                            <td>{{des_instance.estado}}</td>
                            <td>{{des_instance.descripcion }}</td>
                            <td>{{des_instance.fecha_inicio}}</td>
                            <td>{{des_instance.fecha_fin}}</td>
                            <td>{{des_instance.subfase}}</td>
                            <td>{{des_instance.procentaje|floatformat:"0"}}</td>
                            <td>{{des_instance.dependencias}}</td>
                            <td>{{des_instance.observaciones}}</td>
                            <td>{{des_instance.tiempo_estimado}}</td>
                            <td>{{des_instance.peso}}</td>
                            <td></td>
                            <td>
                                <a href="{% url 'main:edititems' codigo=proyecto.codigo id_items=des_instance.id %}" variant="secondary" type="button" title="Editar" class="btn-small create-project-action-cancel" >
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvFk7EOAUEQhr97AgqRaKm9gMYL0VHRiFCg9EYSb6CSaFUSegk3yRXr7O7s3d7ltt3d75v9Zzah5pXUzCdWsAbewMpVaIxgD8wy8Bw42CRlBR3gAnQN6BLY5CVlBG3gCQyAE9DLoAtgGyuYpJlLpSPgBvSBcxZPdESSt+Qu6w6MgSvQAl6xTZYm7nIQkQyBh2/UQ3pgVm6yjil8qv0jTRAFF7lP4IJLMyWyoOUSVAJ3vaAyuEvwsby9UCzmfVtEeUFpeMgLouDaFAVNiXZI+wfafXW/EYFtitRKjQM/RYdMURH4X18biahoxd7zXwouJhn8uXp/AAAAAElFTkSuQmCC"/>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="contenedor-tabla">

                 <div class="contenedor-boton">
                    <h2>Fase de Monitoreo y Control</h2>
                    <a href="{% url 'main:nuevoitems' codigo=proyecto.codigo %}"  class="containerUp-headertable__a" id="btnnewDoc" >
                        <i class='bx bx-plus'></i>
                    </a>
                 </div>

                 <table id="des-table-monitoreo">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Subfase</th>
                            <th>Porcentaje</th>
                            <th>Dependencias</th>
                            <th>Observaciones</th>
                            <th>Tiempo Estimado (horas)</th>
                            <th>Complejidad</th>
                            <th>Documento</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for des_instance in inicio %}
                        <tr>
                            <td>{{des_instance.titulo}}</td>
                            <td>{{des_instance.estado}}</td>
                            <td>{{des_instance.descripcion }}</td>
                            <td>{{des_instance.fecha_inicio}}</td>
                            <td>{{des_instance.fecha_fin}}</td>
                            <td>{{des_instance.subfase}}</td>
                            <td>{{des_instance.procentaje|floatformat:"0"}}</td>
                            <td>{{des_instance.dependencias}}</td>
                            <td>{{des_instance.observaciones}}</td>
                            <td>{{des_instance.tiempo_estimado}}</td>
                            <td>{{des_instance.peso}}</td>
                            <td></td>
                            <td>
                                <a href="{% url 'main:edititems' codigo=proyecto.codigo id_items=des_instance.id %}" variant="secondary" type="button" title="Editar" class="btn-small create-project-action-cancel" >
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvFk7EOAUEQhr97AgqRaKm9gMYL0VHRiFCg9EYSb6CSaFUSegk3yRXr7O7s3d7ltt3d75v9Zzah5pXUzCdWsAbewMpVaIxgD8wy8Bw42CRlBR3gAnQN6BLY5CVlBG3gCQyAE9DLoAtgGyuYpJlLpSPgBvSBcxZPdESSt+Qu6w6MgSvQAl6xTZYm7nIQkQyBh2/UQ3pgVm6yjil8qv0jTRAFF7lP4IJLMyWyoOUSVAJ3vaAyuEvwsby9UCzmfVtEeUFpeMgLouDaFAVNiXZI+wfafXW/EYFtitRKjQM/RYdMURH4X18biahoxd7zXwouJhn8uXp/AAAAAElFTkSuQmCC"/>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="contenedor-tabla">

                 <div class="contenedor-boton">
                    <h2>Fase de Cierre</h2>
                    <a href="{% url 'main:nuevoitems' codigo=proyecto.codigo %}"  class="containerUp-headertable__a" id="btnnewDoc" >
                        <i class='bx bx-plus'></i>
                    </a>
                 </div>

                 <table id="des-table-cierre">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Subfase</th>
                            <th>Porcentaje</th>
                            <th>Dependencias</th>
                            <th>Observaciones</th>
                            <th>Tiempo Estimado (horas)</th>
                            <th>Complejidad</th>
                            <th>Documento</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for des_instance in inicio %}
                        <tr>
                            <td>{{des_instance.titulo}}</td>
                            <td>{{des_instance.estado}}</td>
                            <td>{{des_instance.descripcion }}</td>
                            <td>{{des_instance.fecha_inicio}}</td>
                            <td>{{des_instance.fecha_fin}}</td>
                            <td>{{des_instance.subfase}}</td>
                            <td>{{des_instance.procentaje|floatformat:"0"}}</td>
                            <td>{{des_instance.dependencias}}</td>
                            <td>{{des_instance.observaciones}}</td>
                            <td>{{des_instance.tiempo_estimado}}</td>
                            <td>{{des_instance.peso}}</td>
                            <td></td>
                            <td>
                                <a href="{% url 'main:edititems' codigo=proyecto.codigo id_items=des_instance.id %}" variant="secondary" type="button" title="Editar" class="btn-small create-project-action-cancel" >
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvFk7EOAUEQhr97AgqRaKm9gMYL0VHRiFCg9EYSb6CSaFUSegk3yRXr7O7s3d7ltt3d75v9Zzah5pXUzCdWsAbewMpVaIxgD8wy8Bw42CRlBR3gAnQN6BLY5CVlBG3gCQyAE9DLoAtgGyuYpJlLpSPgBvSBcxZPdESSt+Qu6w6MgSvQAl6xTZYm7nIQkQyBh2/UQ3pgVm6yjil8qv0jTRAFF7lP4IJLMyWyoOUSVAJ3vaAyuEvwsby9UCzmfVtEeUFpeMgLouDaFAVNiXZI+wfafXW/EYFtitRKjQM/RYdMURH4X18biahoxd7zXwouJhn8uXp/AAAAAElFTkSuQmCC"/>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>


</div>


{% endblock %}


{% block scripts %}
<script src="{% static './js/acordeon.js' %}" defer></script>
<script src="{% static './js/documodal.js' %}" defer></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.tailwindcss.js"></script>

<script>
    $(document).ready( function () {
        $('#des-table-inicio').DataTable({
            scrollX: true,
            info: false,
            lengthChange:false,
            columnDefs: [
                { width: '100px', targets: '_all' } // Establecer ancho de todas las columnas a 200px
            ]
        });

        $('#des-table-planeacion').DataTable({
            scrollX: true,
            info: false,
            lengthChange:false,
            columnDefs: [
                { width: '200px', targets: '_all' } // Establecer ancho de todas las columnas a 200px
            ]
        });

        $('#des-table-ejecucion').DataTable({
            scrollX: true,
            info: false,
            lengthChange:false,
            columnDefs: [
                { width: '200px', targets: '_all' } // Establecer ancho de todas las columnas a 200px
            ]
        });

        $('#des-table-monitoreo').DataTable({
            scrollX: true,
            info: false,
            lengthChange:false,
            columnDefs: [
                { width: '200px', targets: '_all' } // Establecer ancho de todas las columnas a 200px
            ]
        });

        $('#des-table-cierre').DataTable({
            scrollX: true,
            info: false,
            lengthChange:false,
            columnDefs: [
                { width: '200px', targets: '_all' } // Establecer ancho de todas las columnas a 200px
            ]
        });
    });
</script>

{% endblock %}



