{% extends 'plantilla.html' %}
{% load static %}
{% block id_project %}proyecto.id{% endblock %}

{% block title %} gestion de proyecto - {{proyecto.name}} {% endblock %}
{% block name %}
{{proyecto.name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">
<link rel="stylesheet" href="{% static './css/docu.css' %} ">
<link rel="stylesheet" href="{% static './css/tabla_documentacion.css' %} ">
{% endblock %}

{% block conten %}

</head>
<body>
<table>
    <thead>
        <tr>
            <th class="columna1">Documentación</th>

            <th class="columna3">Check</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="columna1">Contrato cliente</td>

            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Tiempo</td>

            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Adquisiciones</td>
            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Costo</td>
            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Riesgo</td>
            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Comunincaciones</td>
            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Control</td>
            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td class="columna1">Cierre</td>
            <td class="columna3">
                <input type="checkbox">
            </td>
        </tr>
    </tbody>
</table>

<button type="button" class="guardadito">Guardar</button>

{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static './js/documodal.js' %}" defer></script>
<!-- <script src="script.js"></script> -->
{% endblock %}