{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Gantt</title>
	<style>
		body {
			font-family: sans-serif;
			background: #ccc;
		}
		.container2 {
			width: 80%;
			margin: 0 auto;
		}
		/* custom class */
		.gantt .bar-milestone .bar {
			fill: tomato;
		}
		.heading {
			text-align: center;
		}
	</style>
	 <link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.tailwindcss.css">
    <link rel="stylesheet" href="{% static 'frappe-gantt/dist/frappe-gantt.css' %}">
    <script src="{% static 'frappe-gantt/dist/frappe-gantt.min.js' %}"></script>
    
    
</head>
<body>
    <div class="content-costos">
        <div class="container">
		    <div class="gantt-target"></div>
    	</div>
    	<fieldset>
            <a href="{% url 'main:des' codigo=proyecto.codigo %} " variant="secondary" type="button" title="Volver" class="btn-small create-project-action-cancel" >Volver</a>
        </fieldset>
    </div>
	
	<script>

		var datos_tareas = {{ datos_tareas | safe }};
		
		var gantt_chart = new Gantt(".gantt-target", datos_tareas, {
			on_click: task => {
				console.log(task);
			},
			on_date_change: (task, start, end) => {
				console.log(task, start, end);
			},
			on_progress_change: (task, progress) => {
				console.log(task, progress);
			},
			on_view_change: (mode) => {
				console.log(mode);
			},
			view_mode: 'Month',
			language: 'en'
		});
		console.log(gantt_chart);
	</script>
</body>
</html>