{% extends 'plantilla2.html' %}
{% load static %}
{% block id_project %}proyecto.id{% endblock %}

{% block title %} gestion de proyecto  - {{proyecto.name}} {% endblock %}

{% block name %}
    {{proyecto.name}}
{% endblock %}


{% block css %}

    <!--libreria de iconos-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static './css/theme-taiga.css' %}">
    <link rel="stylesheet" href="{% static './css/inicio_administrador.css' %}">
    <link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">

{% endblock %}

    {% block conten %}

    <div ng-if="!errorHandling.showingError">
        <div ng-view="" class="master">
            <div class="home-wrapper centered">
                <div class="duty-summary">
                    <h1>Proyectos asignados </h1>
                    <tg-working-on class="dashboard-container">
                        <section class="working-on-container">
                            <header>
                                <h2 class="title-bar working-on-title">Gerentes de proyectos </h2>
                            </header>
                            <div ng-if="vm.assignedTo != undefined &amp;&amp; vm.assignedTo.size === 0"
                                class="working-on-empty">
                                <div class="contable">

                                    <table class="tableType">
                                    <thead>
                                        <tr>
                                            <th style="width: 30%;" class="encabezadonombre">Nombre</th>
                                            <th style="width: 15%;" class="encabezadoinfo" >Necesidades entrega operacion</th>
                                            <th style="width: 15%;" class="encabezadoinfo" >Necesidades</th>
                                            <th style="width: 15%;" class="encabezadoinfo" >Proyectos integrados</th>
                                            <th style="width: 15%;" class="encabezadoinfo" >Proyectos productos propios</th>
                                            <th style="width: 10%;" class="encabezadoinfo" >Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for gerente in proyectos_por_gerente %}
                                        <tr>
                                            <td>{{ gerente.gerente }}</td>
                                            <td class="infotable">{{ gerente.tip1 }}</td>
                                            <td class="infotable">{{ gerente.tip2 }}</td>
                                            <td class="infotable">{{ gerente.tip3 }}</td>
                                            <td class="infotable">{{ gerente.tip4 }}</td>
                                            <td class="infotable">{{ gerente.total }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                </div>
                            </div>
                        </section>
                        <section class="working-on-container">
                            <header>
                                <h2 class="title-bar working-on-title">Asignar proyecto</h2>
                            </header>
                            <div ng-if="vm.assignedTo != undefined &amp;&amp; vm.assignedTo.size === 0"
                                class="working-on-empty">
                                <div class="contable">

                                    <table class="tableType">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%;" class="encabezadonombre">Nombre</th>
                                            <th style="width: 40%;" class="encabezadoinfo" >Project Manager</th>
                                            <th style="width: 20%;" class="encabezadoinfo" >Asignar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pro in proyecto %}
                                        <tr>
                                            <td>{{ pro.name }}</td>
                                            <td>
                                            {% for use in pro.user.all %}
                                                {{use.usuario.first_name}} {{use.usuario.last_name}} ,
                                            {% endfor %}</td>
                                            <td class="infotable"><button class="tableType-btn" ><a href="{% url 'main:dobleasignar' codigo=pro.codigo %}" style="color: white;">+</a></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                </div>
                            </div>
                        </section>
                    </tg-working-on>
                </div>
                <aside tg-home-project-list="" class="project-list">
                    <section ng-if="vm.projects != undefined &amp;&amp; vm.projects.size === 0" class="projects-empty">
                        <tg-svg svg-icon="icon-project">
                        </tg-svg>
                        <!--p>Asignar proyectos</p-->
                        <div class="container">
                            <button  class="btn-small create-project-button"><a href="{% url 'main:asignar' %}" style="color: white;" >Nuevo proyecto</a></button>
                        </div>
                    </section>

                    <section ng-if="vm.projects != undefined &amp;&amp; vm.projects.size === 0" class="projects-empty">
                        <tg-svg svg-icon="icon-project">
                        </tg-svg>
                        <div class="container">
                            <button  class="btn-small create-project-button"><a href='https://app.powerbi.com/links/TPTjekDVh3?ctid=aa862528-bc3c-4d61-a4b8-745ce6c7217f&pbi_source=linkShare&bookmarkGuid=5198221b-90f9-4ac9-93fa-2836db183e67' style="color: white;" >Dashboard general</a></button>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

    {% block scripts %}

    <script>
        function cambiarTexto(celda, nuevoTexto) {
            celda.setAttribute("data-original-text", celda.innerText);
            celda.innerText = nuevoTexto;
        }

        function restaurarTexto(celda) {
            var originalText = celda.getAttribute("data-original-text");
            celda.innerText = originalText;
        }
        </script>

    {% endblock %}


{% endblock %}