<br>
{% extends 'plantilla2.html' %}
{% load static %}
{% block id_project %}proyecto.id{% endblock %}

{% block title %} gestion de proyecto  - {{proyecto.name}} {% endblock %}

{% block name %}
    {{proyecto.name}}
{% endblock %}


{% block css %}

    <!--libreria de iconos-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static './css/theme-taiga.css' %}">
    <link rel="stylesheet" href="{% static './css/inicio_administrador.css' %}">

{% endblock %}

    {% block conten %}

    <div ng-if="!errorHandling.showingError">
        <div ng-view="" class="master">
            <div class="home-wrapper centered">
                <div class="duty-summary">
                    <h1>Tablero de Proyectos</h1>
                    <tg-working-on class="dashboard-container">
                        <section class="working-on-container">
                            <header>
                                <h2 class="title-bar working-on-title">Trabajando en</h2>
                            </header>
                            <div ng-if="vm.assignedTo != undefined &amp;&amp; vm.assignedTo.size === 0"
                                class="working-on-empty">
                                <div class="contable">

                                    <table class="tableType">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%;" class="encabezadonombre">Nombre</th>
                                            <th class="encabezadoinfo" onmouseenter="cambiarTexto(this, 'Necesidades entrega operacion')" onmouseleave="restaurarTexto(this)">&lt;&gt;</th>
                                            <th class="encabezadoinfo" onmouseenter="cambiarTexto(this, 'Necesidades')" onmouseleave="restaurarTexto(this)">&lt;&gt;</th>
                                            <th class="encabezadoinfo" onmouseenter="cambiarTexto(this, 'Proyectos integrados')" onmouseleave="restaurarTexto(this)">&lt;&gt;</th>
                                            <th class="encabezadoinfo" onmouseenter="cambiarTexto(this, 'Proyectos productos propios')" onmouseleave="restaurarTexto(this)">&lt;&gt;</th>
                                            <th class="encabezadoinfo" >Total</th>
                                            <th class="encabezadoinfo" >Asignar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for gerente in proyectos_por_gerente %}
                                        <tr>
                                            <td>{{ gerente.gerente }}</td>
                                            <td class="infotable">{{ gerente.tip1 }}</td>
                                            <td class="infotable">{{ gerente.tip2 }}</td>
                                            <td class="infotable">{{ gerente.tip3 }}</td>
                                            <td class="infotable">{{ gerente.tip4 }}</td>
                                            <td class="infotable">{{ gerente.total }}</td>
                                            <td class="infotable"><button class="tableType-btn">+</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                </div>
                            </div>
                        </section>
                        <section class="working-on-container">
                            <header>
                                <h2 class="title-bar working-on-title">Asignar proyecto</h2>
                            </header>
                            <div ng-if="vm.assignedTo != undefined &amp;&amp; vm.assignedTo.size === 0"
                                class="working-on-empty">
                                <div class="contable">

                                    <table class="tableType">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%;" class="encabezadonombre">Nombre</th>
                                            <th class="encabezadoinfo" >Asignar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pro in proyecto %}
                                        <tr>
                                            <td>{{ pro.name }}</td>
                                            <td class="infotable"><a href="{% url 'main:dobleasignar' codigo=pro.codigo %}" class="tableType-btn" >+</a> </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                </div>
                            </div>
                        </section>
                    </tg-working-on>
                </div>
                <aside tg-home-project-list="" class="project-list">
                    <section ng-if="vm.projects != undefined &amp;&amp; vm.projects.size === 0" class="projects-empty">
                        <tg-svg svg-icon="icon-project">
                        </tg-svg>
                        <p>Asignar proyectos</p>
                        <a variant="primary" href="{% url 'main:asignar' %}" title="Crear proyecto"
                            class="btn-small create-project-button">Nuevo proyecto</a>
                    </section>
                </aside>
            </div>
        </div>
    </div>

    {% block scripts %}

    <script>
        function cambiarTexto(celda, nuevoTexto) {
            celda.setAttribute("data-original-text", celda.innerText);
            celda.innerText = nuevoTexto;
        }

        function restaurarTexto(celda) {
            var originalText = celda.getAttribute("data-original-text");
            celda.innerText = originalText;
        }
        </script>

    {% endblock %}


{% endblock %}