<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.tailwindcss.css">

    <title>Lecciones </title>
</head>
 <style>
    th{
        background: #ddd;
        border: 2px solid black;
    }
    td{
        border: 2px solid #ddd;
        vertical-align: top;
    }
</style>

<body>
    <br>

    <div class="content-lecciones">
        <h1 style="font-size: 24px; font-weight: bold; text-align: center;">Lecciones Consolidadas</h1>
        <table id="tablalecciones" class="display" style="width: 100%">
            <thead>
                <tr>
                    <th style="width: 80px; font-size: 20px;">Fecha</th>
                    <th style="width: 150px; font-size: 20px;">Identificación del problema</th>
                    <th style="width: 120px; font-size: 20px;">Causa</th>
                    <th style="width: 120px; font-size: 20px;">Solución</th>
                    <th style="width: 150px; font-size: 20px;">Planes de mejora aplicados</th>
                    <th style="width: 180px; font-size: 20px;">Resultados de los planes de mejora</th>
                </tr>
            </thead>
            <tbody>
                {% for ComentarioTarea in ComentarioTareas %}
                <tr>
                    <td></td>
                    <td style="font-size: 18px;">{{ComentarioTarea.identificando_problema}}</td>
                    <td style="font-size: 18px;">{{ComentarioTarea.causa}}</td>
                    <td style="font-size: 18px;">{{ComentarioTarea.solucion}}</td>
                    <td style="font-size: 18px;">{{ComentarioTarea.planes_mejora_aplicados}}</td>
                    <td style="font-size: 18px;">{{ComentarioTarea.resultados_planes_mejora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static './js/scripts.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.tailwindcss.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>


<script>
    $(document).ready(function () {
        var table = $("#tablalecciones").DataTable({
            searching: true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json",
            },
            autoWidth: true,
            processing: true,
            info: false,
            lengthChange: false,
            scrollX: false,
        });

        // Ajustar el tamaño de las columnas en porcentajes
        table.columns().eq(0).each(function(index) {
            if (index === 0) {
                this.width('10%'); // Ajustar el ancho de la primera columna al 10%
            } else if (index === 1) {
                this.width('18%'); // Ajustar el ancho de la segunda columna al 15%
            } else if (index === 2) {
                this.width('18%'); // Ajustar el ancho de la tercera columna al 20%
            } else if (index === 3) {
                this.width('18%'); // Ajustar el ancho de la cuarta columna al 15%
            } else if (index === 4) {
                this.width('18%'); // Ajustar el ancho de la quinta columna al 15%
            } else if (index === 5) {
                this.width('18%'); // Ajustar el ancho de la sexta columna al 25%
            }
            // Agrega más condiciones según sea necesario para ajustar otras columnas
        });
    });
</script18
</body>
</html>






