{% extends 'plantilla.html' %}
{% load static %}
{% block id_project %}proyecto.id{% endblock %}

{% block title %} gestion de proyecto  - {{proyecto.name}} {% endblock %}
{% block name %}
    {{proyecto.name}}
{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.tailwindcss.css">
    <style>
        #tablalecciones tbody td {
        max-width: 150px; /* Establece el ancho máximo deseado */
        white-space: nowrap; /* Evita que el texto se envuelva */
        overflow: hidden; /* Oculta el contenido que excede el ancho máximo */
        text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto que excede el ancho máximo */

    }
    </style>


{% endblock %}

{% block conten %}

<div class="content-lecciones">

    <div class="titulo">
        <h1  class="create-project-title">Lecciones</h1>
    </div>

    <div class="container">
        <button class="btnAgregar"><a href="{% url 'main:nuevalencion' codigo=proyecto.codigo %}" style="color: white;">Agregar Más</a></button>
    </div>
    <table id="tablalecciones" class="display" style="width: 100%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Identificación del problema</th>
                <th>Causa</th>
                <th>Solución</th>
                <th>Planes de mejora aplicados</th>
                <th>Resultados de los planes de mejora</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for ComentarioTarea in ComentarioTareas %}
            <tr>
                <td>{{ComentarioTarea.fecha_creacion|date:"d/m/Y"}}</td>
                <td>{{ComentarioTarea.identificando_problema}}</td>
                <td>{{ComentarioTarea.causa}}</td>
                <td title="{{ComentarioTarea.solucion}}" >{{ComentarioTarea.solucion}}</td>
                <td title="{{ComentarioTarea.planes_mejora_aplicados}}" >{{ComentarioTarea.planes_mejora_aplicados}}</td>
                <td title="{{ComentarioTarea.resultados_planes_mejora}}" >{{ComentarioTarea.resultados_planes_mejora}}</td>
                <td>
                    <a href="{% url 'main:leccioneseditar' codigo=proyecto.codigo id_lesson=ComentarioTarea.id %}" variant="secondary" type="button" title="Editar" class="btn-small create-project-action-cancel" >
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvFk7EOAUEQhr97AgqRaKm9gMYL0VHRiFCg9EYSb6CSaFUSegk3yRXr7O7s3d7ltt3d75v9Zzah5pXUzCdWsAbewMpVaIxgD8wy8Bw42CRlBR3gAnQN6BLY5CVlBG3gCQyAE9DLoAtgGyuYpJlLpSPgBvSBcxZPdESSt+Qu6w6MgSvQAl6xTZYm7nIQkQyBh2/UQ3pgVm6yjil8qv0jTRAFF7lP4IJLMyWyoOUSVAJ3vaAyuEvwsby9UCzmfVtEeUFpeMgLouDaFAVNiXZI+wfafXW/EYFtitRKjQM/RYdMURH4X18biahoxd7zXwouJhn8uXp/AAAAAElFTkSuQmCC"/>
                </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block scripts %}
    <script src="{% static './js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.tailwindcss.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        $(document).ready(function () {
            var table = $("#tablalecciones").DataTable({
                searching: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json",
                },
                autoWidth: true,
                processing: true,
                info: false,
                lengthChange:false,
                scrollX: false,
            });




        });
    </script>
{% endblock %}


