<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO</title>
    <link rel="stylesheet" href="proyecto1.css">
</head>

<body>
    <h1>PROYECTO</h1>
    <div class="container">
        <table>
            <tr>
                <th class="proyecto">Nombre del proyecto</th>
                <th class="descripcion">
                    <p></p>
                </th>
                <th class="proyecto">Fecha de creación</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="proyecto">Descripción del proyecto</th>
                <th class="descripcion">
                    <p>prueba</p>
                </th>
                <th class="proyecto">Fecha de inicio planeada</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="proyecto">Fecha de finalización planeada</th>
                <th class="descripcion">
                    <p></p>
                </th>
                <th class="proyecto">Alcance</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="proyecto">Estado</th>
                <th class="descripcion">
                    <p></p>
                </th>
                <th class="proyecto">Tipo</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="proyecto">Cluster</th>
                <th class="descripcion">
                    <p></p>
                </th>
                <th class="proyecto">Grupo</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="proyecto">Categoría</th>
                <th class="descripcion">
                    <p></p>
                </th>
                <th class="proyecto">Contrato Antecedentes</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="proyecto">Fase</th>
                <th class="descripcion">
                    <p></p>
                </th>
                <th class="proyecto">Comentarios</th>
                <th class="descripcion">
                    <p></p>
                </th>
            </tr>
        </table>
        
    </div>
</body>

</html>