{% extends 'plantilla.html' %}
{% load static %}
{% block id_project %}proyecto.id{% endblock %}

{% block title %} gestion de proyecto  - {{proyecto.name}} {% endblock %}
{% block name %} 
    {{proyecto.name}}
{% endblock %}


{% block conten %}
    <div style="background-color: blue; height: 350px;">

    </div>
    <div class="container">
        <h1>LISTA</h1><br>
        <table>
            <tr>
                <th>FASE</th>
                <th>TAREAS</th>
                <th>PORCENTAJE</th>
            </tr>
            {% for fase in tableros %}
                <tr>
                    <th><a href="">{{ fase.titulo }}</th></a>
                    <th>2</th>
                    <div class="porcentaje">
                        <th><progress id="file" max="100" value=''></progress></th>
                    </div>
                </tr>
            {% endfor %}
                
            
            <tr>
                <th>Planeacion</th>
                <th>3</th>
                <div class="porcentaje">
                    <th><progress id="file" max="100" value="20">70%</progress></th>
                </div>
            </tr>
            <tr>
                <th>Ejecucion</th>
                <th>41</th>
                <div class="porcentaje">
                    <th><progress id="file" max="100" value="100">70%</progress></th>
                </div>
            </tr>
            <tr>
                <th>Monitoreo y Control</th>
                <th>2</th>
                <div class="porcentaje">
                    <th><progress id="file" max="100" value="43  ">70%</progress></th>
                </div>
            </tr>
            <tr>
                <th>Cierre</th>
                <th>4</th>
                <div class="porcentaje">
                    <th><progress id="file" max="100" value="70">70%</progress></th>
                </div>
            </tr>
        </table>
    </div>
{% endblock %}


