{% extends 'plantilla.html' %}
{% load static %}

{% block title %} Gestión de Proyecto - {{ proyecto.name }} {% endblock %}
{% block name %}
    {{ proyecto.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static './css/stilos_kanban.css' %}">
{% endblock %}

{% block conten %}
<form name="projectForm"  class="ng-pristine ng-invalid ng-invalid-required" method="POST" >
    {% csrf_token %}
    <div ng-include="'projects/create/import-project-form-common/name.html'">
        <fieldset>
            <label for="project-name">Nombre del Riesgo</label>
            <input type="text" placeholder="Nombre del Proyecto (Requerido)" name="matriz-name" data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true">
        </fieldset>
    </div>
    <div>
        <fieldset>
            <label for="project-description">Descripción del Riesgo</label>
            <textarea placeholder="Descripción del Proyecto (Requerido)"  name="matriz-descrip"  data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true"></textarea>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <label for="project-causas">Causas del Riesgo</label>
            <textarea placeholder="Causas del Riesgo"  name="matriz-causas"  data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true"></textarea>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <label for="project-mitigacion">Plan de Mitigación</label>
            <input type="text" placeholder="Plan de Mitigación" name="matriz-mitigacion" data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true">
        </fieldset>
    </div>
    <div>
        <fieldset>
            <label for="project-impact">Descripción del impacto en alcance</label>
            <input type="text" placeholder="Impacto en alcance" name="matriz-impact" data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true">
        </fieldset>
    </div>
    <div>
        <fieldset>
            <label for="impact-tiempo">Descripción del impacto en Tiempo</label>
            <input type="text" placeholder="Impacto en tiempo" name="matriz-tiempo" data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true">
        </fieldset>
    </div>
    <div>
        <fieldset>
            <label for="impact-costo">Descripción del impacto Costo</label>
            <input type="text" placeholder="Impacto Costo" name="matriz-costo" data-required="true" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-invalid="true">
        </fieldset>
    </div>
    
    <fieldset>
        <label for="project-priority">Probabilidad (Ocurrencia)</label>
        <select id="project-probabilidad" name="matriz-probabilidad">
            <option value="1">hola</option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
    </fieldset>
    <fieldset>
        <label for="project-priority">Gravedad Impacto</label>
        <select id="gravedad-impact" name="matriz-gravedad">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
    </fieldset>
    <fieldset>
        <label for="project-riesgo">Valor de Riesgo</label>
        <select id="project-riesgo" name="matriz-valorriesgo">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
    </fieldset>
    <fieldset>
        <label for="project-priority">Nivel de Riesgo</label>
        <select id="nivel-riesgo" name="matriz-nivelriesgo">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
    </fieldset>
    <div ng-include="'projects/create/import-project-form-common/actions.html'">
        <div class="create-project-action">
            <button variant="secondary" type="button" title="Volver" class="btn-small create-project-action-cancel">Volver</button>
            <button type="submit" class="btn-small create-project-action-submit" title="Asignar Proyecto">Guardar Riesgo</button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
    <script src="{% static './js/scripts.js' %}"></script>
{% endblock %}